{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">


<div class="background">
    <div class="button-container">
        <a href="/" class="zoom-button">Public Sector Customer Service</a>
        <a href="/" class="zoom-button">Public Sector Reforms</a>
        <a href="/" class="zoom-button">Computer Applications</a>
        <a href="/" class="zoom-button">Principles of Procurement</a>
        <a href="/" class="zoom-button">Entrepreneurship skills</a>
        <a href="/" class="zoom-button">Financial Accounting 1</a>
        
</div>

{% block footer %}
{% endblock%}

{% endblock%}