{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/website/static/base.css">


<div class="background">
    <div class="button-container">
        <a href="/" class="zoom-button">Decentralization & County Govt.</a>
        <a href="/" class="zoom-button">Intro to Community Devt.</a>
        <a href="/" class="zoom-button">Principles of pple Mgmt.</a>
        <a href="/" class="zoom-button">Management Maths 1</a>
        <a href="/" class="zoom-button">Principles of Mgmt.</a>
        
</div>

{% block footer %}
{% endblock%}

{% endblock%}