{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">

<a href="" id="sem" >
  <span>Semester 2.2</span></a>

<div class="background">
    
    <div class="button-container">
        <a href="/" class="zoom-button">Community Devt.</a>
        <a href="/" class="zoom-button">Auditing Principles</a>
        <a href="/" class="zoom-button">Social Entrepreneurship</a>
        <a href="/" class="zoom-button">Geography of Kenya</a>
        <a href="/" class="zoom-button">Social Psychology</a>
        <a href="/" class="zoom-button">Elements of Taxation</a>
        <a href="/" class="zoom-button">Admin Law 2</a>
    </div>
</div>
{% endblock%}