{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="/website/static/base.css">

<a href="" id="sem" >
  <span>Semester 3.1</span></a>
<div class="background">
    
    <div class="button-container">
        <a href="/org" class="zoom-button">Managing Conflict in Organizations</a>
        <a href="/pfm" class="zoom-button">Principles of Marketing</a>
        <a href="/research" class="zoom-button">Financial Accounting II</a>
        <a href="/corp" class="zoom-button">General Economics</a>
        <a href="/marketing" class="zoom-button">Management Math II</a>
        <a href="/egov" class="zoom-button">Administrative Law I</a>
        <a href="/crm" class="zoom-button">Business Statistics</a>
    </div>
  

  <div class="button-container">
    <a href="/org" class="zoom-button">Managing Conflict in Organizations</a>
    <a href="/pfm" class="zoom-button">Principles of Marketing</a>
    <a href="/research" class="zoom-button">Financial Accounting II</a>
    <a href="/corp" class="zoom-button">General Economics</a>
    <a href="/marketing" class="zoom-button">Management Math II</a>
    <a href="/egov" class="zoom-button">Administrative Law I</a>
    <a href="/crm" class="zoom-button">Business Statistics</a>
 </div>
</div>
{% endblock%}