{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">

<a href="" id="sem" >
  <span>Semester 2.1</span></a>

<div class="background">
    
    <div class="button-container">
        <a href="/" class="zoom-button">Managing Conflict in Organizations</a>
        <a href="/" class="zoom-button">Principles of Marketing</a>
        <a href="/" class="zoom-button">Financial Accounting II</a>
        <a href="/" class="zoom-button">General Economics</a>
        <a href="/" class="zoom-button">Management Math II</a>
        <a href="/" class="zoom-button">Administrative Law I</a>
        <a href="/" class="zoom-button">Business Statistics</a>
    </div>
</div>
{% endblock%}