{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">

<div class="background">
    <div class="button-container">
        <a href="/" class="zoom-button">Public Policy</a>
        <a href="/" class="zoom-button">Public Sector Economics</a>
        <a href="/" class="zoom-button">Operations Management</a>
        <a href="/" class="zoom-button">Public & Private Procurement</a>
        <a href="/" class="zoom-button">Devolved Govt. Financing</a>
        <a href="/" class="zoom-button">International Relations</a>
        <a href="/" class="zoom-button">TQM</a>
</div>

{% block footer %}
{% endblock%}

{% endblock%}