{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">


<div class="background">
    <div class="button-container">
        <a href="/costaccounting" class="zoom-button">Cost and Management Accounting</a>
        <a href="/MIS" class="zoom-button">Management Information Systems</a>
        <a href="/evolution" class="zoom-button">Evolution of the Kenyan State</a>
        <a href="/negotiation" class="zoom-button">Negotiation and Networking</a>
        <a href="/PM" class="zoom-button">Project management</a>
        <a href="/strategic" class="zoom-button">Strategic Management</a>
        <a href="/HRM" class="zoom-button">HRM</a>
</div>


{% block footer %}
{% endblock%}

{% endblock%}