{% extends 'base.html' %}

{% block content %}
<style>
  #selec{
    width: 40%!important;
    size: 60px!important;
    left: 25% !important;
  }
</style>

<!-- Large button groups (default and split) -->
<div id="selec" class="btn-group">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" 
  data-bs-toggle="dropdown" aria-expanded="false">
    Select Semester
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/2.1">2.1</a></li>
    <li><a class="dropdown-item" href="/2.2">2.2</a></li>
  </ul>
</div>


{% block footer %}
{% endblock %}


{% endblock %}