
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--------------------------------------------------CSS------------------------------------------------->
    <link prefetch href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <script async src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">

  </script>
    <link rel="stylesheet" href="https://flasknotes.blob.core.windows.net/ggggg/log.css">
    <!-----------------------------FONTS------------------------------------------------------->
    

<!---------------------------------FAVICON---------------------------------------------------------------------->

    
    <title>signup</title>
</head>
<body>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Page still under-development! </strong>Don't input any information
    <!---------<button type="button" class="btn-close" data-bs-dismiss="alert" 
      aria-label="Close"></button>----->
  </div>

  <div id="layout-bars"></div>

    <article class="">

      <div class="logged_out_form">

<h2 class="hbtn_logo"> Register here!
</h2>

<form class="sm-gap" id="new_user" action="/auth/sign_in" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="_dL6erxek3rUqwH2OIGwEcXM0ck4Vo6utBPPJ5l8GEm6ml1Ii4g2zZp9L6rF5-U36wH5ThX9ECnq7VgnS-Mrlw" autocomplete="off">
<p><h4><b>All fields are required</b></h4></p>

  <div class="field">
    <label class="control-label" for="user_email">Email</label><br>
    <input required autofocus="autofocus" autocomplete="email" class="form-control" type="text" name="user[email]" id="user_email">
  </div>
  <div class="field">
    <label class="control-label" for="user_phone">Phone Number</label><br>
    <input  required autofocus="autofocus" autocomplete="tel" class="form-control" type="text" name="user[phone]" id="user_phone">
  </div>
  <div class="field">
    <label class="control-label" for="user_password">Password</label><br>
    <input required autocomplete="new-password" class="form-control" type="password" name="user[password]" id="user_password">
  </div>
  <div class="field">
    <label class="control-label" for="user_password">Confirm Password</label><br>
    <input autocomplete="new-password" class="form-control" required type="password" name="user[password]">
  </div>

   

  <div class="actions">
    <input type="submit" name="commit" value="Register" class="btn btn-primary" data-disable-with="Register">
  </div>
</form>
<ul id="devise_links" class="gap">

    <!--<a href="/auth/unlock/new">Didn&#39;t receive unlock instructions?</a>-->
  </li>
<li style="margin-top: 5px;" >
  <P>Already have an account?</P>
  <a href="/login"><bold>Log-In here!</bold></a>
</li>
<!--
<li>
  <a href="https://aka.ms/ssprsetup">Forgot your password?</a>
</li>
-->
</ul>
</div>
</article>


</body>
</html>
{% block content %}
{% endblock %}