@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap'); 

        *{
          --black: #1a1a1a!important; ;
          --white: #ffffff!important;
          font-family: 'Source Sans Pro', sans-serif!important;  
          scroll-behavior: smooth;
        }
        .dark-mode {
            background: var(--black)!important;
            color: var(--white)!important;
            
          }

        .light-mode {
          background: var(--white)!important;
          color: var(--black)!important;
        }
        .dark-mode#accordionPanelsStayOpenExample{
          background: var(--black)!important;
          color: var(--white)!important;
          
        }
        a {
          font-size: 17px!important;
        }
        
      .light-mode#accordionPanelsStayOpenExample {
        background: var(--white)!important;
        color: var(--black)!important;
      }
      
      

        .navbar-toggler {
          font-size: 20px !important;
        }
        .nav-link{
          display: inline-block!important;
          
          font-size: 19px!important;
        }
        .nav-link:hover{
          color: rgb(255, 255, 255)!important;
        }
        .dwn{
          right: 120px !important;
        }
        .accordion.accordion-header{
          content: "&#xF4FA !important";
        }
        .accordion-body:hover{
          background-color: rgba(0, 0, 0,0.1);
        }
        #dwn {
          display: inline-block!important;
          vertical-align: 10%!important;
          margin-left: 87%;
          
        }
        
        #toggle-button{
          cursor: pointer!important;
        }

        #myProgress {
          display: inline-block;
          width: 50%;
        }
        
        #myBar {
          height: 10px;
          background-color: #4CAF50;
          width: 0%;
        }
        
        @media screen and (max-width:500px){
          #dwn{
             display:inherit!important;
             vertical-align: inherit!important;
             margin-top: -8.5%!important;
             margin-left: 60% }
          a {
            font-size: 17px!important;
          }
          .nav-link {
            color: white!important;
            font-size: 25px!important;
          }
        }
        #pager{
          position: relative!important;
          margin-top: 10px!important;
          bottom: 0!important;
          right: 1%!important;
        }
        .background {
          background: linear-gradient(45deg, #003366, #4CAF50);
          height: 100vh;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
        }
        .button-container {
          display: inline-flex;
          flex-direction: column;
        }
        
        .button-row {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .zoom-button {
          background-color: #ffffff;
          color: #000000;
          border: none;
          padding: 10px 20px;
          margin: 10px;
          right: 10px;
          font-size: 20px;
          text-align: center;
          font-weight: bolder;
          border-radius: 50px;
          transition: transform 0.3s ease-in-out;
        }
        a{
          text-decoration: none;
        }
        .zoom-button:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
        #sem{
          background-color: #ffffff;
          color: #000000;
          border: none;
          padding: 10px 20px;
          margin: 10px;
          font-size: 20px;
          text-align: center;
          font-weight: bolder;
          border-radius: 10px;
          transition: transform 0.3s ease-in-out;
          margin-top: -20px!important;
          justify-content: center!important;
          width: 100%;
        }
        #sem:hover{
          background-color: rgb(6, 6, 105);
          font-weight: bolder;
          color: whitesmoke;
          
        }
        